body {
  font-family: 'Anton', sans-serif;
  width: 400px;
  background-color: teal;
  color: yellow;
}

h1 {
  font-family: 'Rowdies', sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
}

.input-container {
  margin: 10px 0;
}

.dropdown-label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

select, input, button {
  width: calc(100% - 12px);
  padding: 5px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#calculate {
  background-color: #ff6347;
  color: white;
  cursor: pointer;
}

#results {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Courier Prime', monospace;
}
